*{
    font-family: 'Epilogue', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 41%);
    font-size: 18px;
    font-weight: 500;
}
.font-light {
    color: hsl(0, 0%, 98%);
}
.text-gray-500 {
    color:hsl(0, 0%, 41%);
    font-weight: 500;
}
.font-dark {
    color:hsl(0, 0%, 8%);
}
/************* NAVBAR *************/
nav {
    margin: 1rem 2rem;
}
nav ul a{
    text-decoration: none;
    font-size: 16px;
    padding: .8rem 1rem;
}
nav ul a:hover, .dropbtn:hover, .dropbtn:focus, .dropdown-content a:hover{
    color: hsl(0, 0%, 8%);
    font-weight: 700;
}
#logo {
    margin-right: 3rem;
    padding-top: 0.8rem;
    align-self: flex-end;
}
.nav-container {
    display: flex;
}
.nav-menu{
    list-style-type: none;
    display: flex;
    align-items: center;
    column-gap: 2rem;
}
.primary-nav-menu {
    flex-grow: 1;
}
.secondary-nav-menu li:last-child {
    padding: .8rem 0;
    border: 1px solid hsl(0, 0%, 41%);
    border-radius: 15px;
}
.secondary-nav-menu li:last-child:hover {
    border: 2px solid hsl(0, 0%, 8%);
}
/************* DROPDOWN *************/
.dropbtn {
    color: hsl(0, 0%, 41%);
    background: none;
    padding: 0;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    margin-top: 1rem;
    padding: .5rem 0;
    position: absolute;
    background-color: hsl(0, 0%, 98%);
    border-radius: 15px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
#featuresDropdown{
    right: 0;
}

#companyDropdown{
    left: 0;
}
.dropdown-content a {
    color: inherit;
    text-align: center;
    padding: .8rem 1rem;
    text-decoration: none;
    display: block;
}
.show-dropdown{display:block;}

/************* MAIN STYLES *************/
main {
    width: 85%;
    height: 85vh;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    'main-section aside-img';

}
section {
    grid-area: main-section;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-title {
    font-size: 4.8rem;
    color: hsl(0, 0%, 8%);
    margin-top: 5rem;
}
.section-text {
    width: 80%;
    line-height: 1.5rem;
}
#learn-more {
    width: fit-content;
    font-size: inherit;
    color: hsl(0, 0%, 98%);
    background-color: hsl(0, 0%, 8%);
    border-radius: 15px;
    padding: 1rem 1.5rem;
}
#learn-more:hover {
    color: hsl(0, 0%, 8%);
    background-color: hsl(0, 0%, 98%);
    cursor: pointer;
}
aside {
    grid-area: aside-img;
    background-image: url("assets/img/image-hero-desktop.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 5rem;
}
aside img{
    display: block;
    height: 85vh;
    margin-left: auto;
    
}
.section-footer {
    display: flex;
    justify-content: space-between;
}

/************* PAGE FOOTER *************/
.credits {
    display: flex;
    column-gap: 2rem;
    justify-content: center;
    margin-top: .4rem;
    padding: .5rem 0;
    font-size: 14px;
    color: hsl(0, 0%, 98%);
    background-color: hsl(0, 0%, 8%);
}
.credits a {
    color: hsl(0, 0%, 41%);
}

/************* MOBILE STYLES *************/
#btn-mobile {
    display: none;
    height: fit-content;
    padding: .2rem;
}


/************* RESPONSIVE *************/
@media (max-width: 375px) {
    #btn-mobile {
        display: block;
    }
    .nav-container {
        justify-content: space-between;
    }
    .nav-menu {
        display: none;
    }
    main {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
    }
    aside {
        height: 50vh;
        margin: 0;
        background-image: url("assets/img/image-hero-mobile.png");
    }
    .section-title {
        margin: 1rem auto;
        font-size: 2.2rem;
    }
    .section-text {
        width: 90%;
        font-size: 1rem;
        text-align: center;
        margin: 0 auto;
    }
    #learn-more {
        margin: 1.5rem auto;
    }
    .credits {
        font-size: 10px;
    }


}


